USE [master]
GO
/****** Object:  Database [Pokedex_BD]    Script Date: 5/25/2023 9:58:12 AM ******/
CREATE DATABASE [Pokedex_BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pokedex_BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Pokedex_BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pokedex_BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Pokedex_BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pokedex_BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pokedex_BD]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 5/25/2023 9:58:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Categoria] [varchar](50) NOT NULL,
	[Peso] [decimal](4, 1) NOT NULL,
	[Altura] [decimal](3, 1) NOT NULL,
	[Habilidad] [varchar](50) NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
 CONSTRAINT [PK_Pokemon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemon_Debilidad]    Script Date: 5/25/2023 9:58:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon_Debilidad](
	[IdPokemon] [int] NOT NULL,
	[IdDebilidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemon_Tipo]    Script Date: 5/25/2023 9:58:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon_Tipo](
	[IdPokemon] [int] NOT NULL,
	[IdTipo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 5/25/2023 9:58:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Color] [char](7) NOT NULL,
 CONSTRAINT [PK_Tipo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pokemon_Debilidad]  WITH CHECK ADD  CONSTRAINT [FK_PokId_PDPId] FOREIGN KEY([IdPokemon])
REFERENCES [dbo].[Pokemon] ([Id])
GO
ALTER TABLE [dbo].[Pokemon_Debilidad] CHECK CONSTRAINT [FK_PokId_PDPId]
GO
ALTER TABLE [dbo].[Pokemon_Debilidad]  WITH CHECK ADD  CONSTRAINT [FK_TId_PDDId] FOREIGN KEY([IdDebilidad])
REFERENCES [dbo].[Tipo] ([Id])
GO
ALTER TABLE [dbo].[Pokemon_Debilidad] CHECK CONSTRAINT [FK_TId_PDDId]
GO
ALTER TABLE [dbo].[Pokemon_Tipo]  WITH CHECK ADD  CONSTRAINT [FK_PokId_PTPokId] FOREIGN KEY([IdPokemon])
REFERENCES [dbo].[Pokemon] ([Id])
GO
ALTER TABLE [dbo].[Pokemon_Tipo] CHECK CONSTRAINT [FK_PokId_PTPokId]
GO
ALTER TABLE [dbo].[Pokemon_Tipo]  WITH CHECK ADD  CONSTRAINT [FK_TId_PTTid] FOREIGN KEY([IdTipo])
REFERENCES [dbo].[Tipo] ([Id])
GO
ALTER TABLE [dbo].[Pokemon_Tipo] CHECK CONSTRAINT [FK_TId_PTTid]
GO
USE [master]
GO
